@using AgriculturePresentation
@using AgriculturePresentation.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map">~/lib/bootstrap/dist/css/bootstrap.min.css.map</a>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />